<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/create}" method="post" th:object="${songCreationDto}">
    <h1>Create New Song</h1>
    <table>
        <tr>
            <td><label for="songName">songName</label></td>
            <td><input id="songName" name="songName" type="text" th:field ="*{songName}"></td>
            <td><span style="color: red" th:if="${#fields.hasErrors('songName')}" th:errors="*{songName}"></span></td>
        </tr>
        <br>
        <tr>
            <td><label for="singer">singer</label></td>
            <td><input id="singer" name="singer" type="text" th:field = "*{singer}"></td>
            <td><span style="color: red" th:if="${#fields.hasErrors('singer')}" th:errors="*{singer}"></span></td>
        </tr>
        <br>
        <tr>
            <td><label for="kindOfMusic">kindOfMusic</label></td>
            <td><input id="kindOfMusic" name="kindOfMusic" type="text" th:field = "*{kindOfMusic}"></td>
            <td><span style="color: red" th:if="${#fields.hasErrors('kindOfMusic')}" th:errors="*{kindOfMusic}"></span></td>
        </tr>

    </table>
    <input type="submit" value="SubMit">
</form>

</body>
</html>