<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Song List</h1>
<a href="/create">Create New Song</a>
<p style="color: #4CAF50" th:text="${message}"></p>
<form method="post">
    <table border="1" cellpadding="5">
        <thead>
        <tr>
            <th>STT</th>
            <th>Song Name</th>
            <th>Singer</th>
            <th>Kind Of Music</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="song, look:${songList}">
            <td th:text="${look.count}"></td>
            <td th:text="${song.songName}"></td>
            <td th:text="${song.singer}"></td>
            <td th:text="${song.kindOfMusic}"></td>
            <td>
                <a th:href="@{/edit/{id}(id = ${song.id})}">Edit</a>
                <a th:href="@{/delete/{id}(id = ${song.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>