<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Category List</h1>
<form>
    <table>
        <thead>
        <tr>
            <th>STT</th>
            <th>Category Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category,look : ${categoryList}">
            <td th:text="${look.count}"></td>
            <td th:text="${category.categoryName}"></td>
        </tr>
        </tbody>
    </table>
    <div>
        <a th:if="${categoryList.hasPrevious()}"
           th:href="@{/category(page=${categoryList.number-1})}">Previous</a>
        <a th:if="${categoryList.hasNext()}"
           th:href="@{/category(page=${categoryList.number+1})}">Next</a>
    </div>
</form>


</body>
</html>